@import url('https://fonts.googleapis.com/css?family=Nunito|Ubuntu');

:root {
--color: black;
--primary: rgb(108,115,232);
--primaryHover:rgb(64,78,232);
--background: #2f448f;
--colorHover: slateblue;
}
body {
  margin: 0;
  color: var(--color);
  background: var(--background);
  font-family: 'Ubuntu', sans-serif;
}
#root {
  width: 100%;
  display: grid;
  height: 100vmin;
  grid-template-rows: 25% 50% 25%;
  grid-template-columns: 25% 50% 25%;
}
.app-wrapper {
  grid-row: 2/3;
  grid-column: 2/3;
  background: white;
  box-shadow: 0 0 20px 10px rgba(0,0,0,.4);

  display: grid;
  grid-template-columns: 10% 10% 60% 10% 10%;
  grid-template-rows: 10% 70% 10% 10%;
}
.app-wrapper blockquote {
  grid-row: 2/3;
  grid-column: 2/5;

  display: flex;
  font-size: 20px;
  text-align: center;
  font-family: 'Nunito';
  flex-flow: column wrap;
  align-content: stretch;
}
.app-wrapper blockquote > label {
  font-size: 16px;
}
.app-wrapper blockquote > p {
  margin: 4rem 2rem 2rem 2rem;
}
.app-wrapper blockquote > label {
  margin: 1rem;
  align-self: left;
}
.twitter {
  grid-row: 3/5;
  font-size: 30px;
  color:lightblue;
  grid-column: 4/6;
  transition: all 400ms ease;
  margin: 0rem 1rem 1rem 1rem;
}
.twitter:hover {
  transform:scale(1.2);
}
.app-wrapper button {
  width: 120px;
  height: 50px;
  color: white;
  grid-row: 3/5;
  font-size: 12px;
  grid-column: 2/4;
  margin-top: -1rem;
  border-radius: 4px;
  text-transform: uppercase;
  background: var(--primary);
  border: 2px solid var(--primary);
  box-shadow: 0 0 10px 2px #686375;
}
.app-wrapper button:hover {
  background: var(--primaryHover);
  border-color: var(--primaryHover);
}
.twitter:hover, button:hover {
  cursor: pointer;
}
@media screen and (max-width: 60rem) {
  #root {
    margin-top: 1rem;
  }
 .app-wrapper {
    grid-row: 1/4;
    margin: 3rem;
    grid-column: 1/4;
 }
}
@media screen and (max-width: 40rem) {
  #root {
    margin-top: 6rem;
  }
 .app-wrapper {
    grid-row: 1/4;
    grid-column: 1/4;
 }
}
