@import url('https://fonts.googleapis.com/css?family=Nunito|Ubuntu');

:root {
--color: black;
--primary: rgb(108,115,232);
--primaryHover:rgb(64,78,232);
--background: #2f448f;
--colorHover: slateblue;
}
body {
  margin: 0;
  color: var(--color);
  background: var(--background);
  font-family: 'Ubuntu', sans-serif;
}
#root {
  width: 100%;
  display: grid;
  height: 100vmin;
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 10% 80% 10%;
}
.app-wrapper {
  grid-row: 2/3;
  grid-column: 2/3;
  background: white;
  box-shadow: 0 0 20px 10px rgba(0,0,0,.4);

  display: grid;
  grid-template-columns: 10% 10% 60% 10% 10%;
  grid-template-rows: 10% 70% 10% 10%;
}
.app-wrapper blockquote {
  grid-row: 2/3;
  grid-column: 2/5;

  display: flex;
  font-size: 20px;
  text-align: center;
  font-family: 'Nunito';
  flex-flow: column wrap;
  align-content: stretch;
  transition: all 800ms ease-in-out;
}
.app-wrapper blockquote > label {
  font-size: 16px;
}
.app-wrapper blockquote > p {
  margin: 4rem 2rem 2rem 2rem;
}
.app-wrapper blockquote > label {
  margin: 2rem;
  align-self: left;
}
.app-wrapper button {
  width: 120px;
  margin: 1rem;
  height: 50px;
  color: white;
  grid-row: 3/5;
  font-size: 12px;
  grid-column: 2/4;
  border-radius: 4px;
  text-transform: uppercase;
  background: var(--primary);
  border: 2px solid var(--primary);
  box-shadow: 0 0 10px 2px #686375;
}
.app-wrapper button:hover {
  cursor: pointer;
  background: var(--primaryHover);
}
